[2012-11-19 08:09] paradigmatic opened #2 "Error: IncompatibleClassChangeError"
I tried the plugin with a project and I got a weird error:

[code]

The project compiles fine. I'am using sbt 0.11.3 with scala 2.9.2.

[2012-12-25 04:59] xuwei-k opened #4 "display wrong version (if contains hyphen ?)"
sbt-updates version 0.1.0

`build.sbt`

[code]

result

[code]

[2013-01-29 03:42] tiagoboldt opened #6 "Ignore Test Releases"
It should be possible to specify if the version to show is the latest stable or if RCs, Ms, etc should be included.

In such case the following line would be omitted:
[info]   net.minidev:json-smart       : 1.1.1               -> 2.0-RC2
in the case of existence of a 1.2.1 version as the last 1.X stable version, the line would show:
[info]   net.minidev:json-smart       : 1.1.1               -> 1.

[2013-06-17 15:38] #4 closed, assigned to rtimush

[2013-06-19 06:15] #2 closed, assigned to rtimush

[2013-07-21 18:29] ijuma opened #8 "Support SBT 0.13"
SBT 0.13.0-RC3 is available[1] and as mentioned in the announcement for RC1[2], it will be binary compatible with the final release (hopefully RC3 and final will be the same).

This is a really nice plugin to keep track of dependency updates and I would really like to continue using it with SBT 0.13. :)

[1] http://repo.typesafe.com/typesafe/ivy-releases/org.scala-sbt/launcher/0.13.0-RC3/
[2] http

[2013-07-25 08:17] #8 closed, assigned to rtimush

[2013-10-13 21:47] Sciss opened #9 "+ versions not handled"
First of all, cool plugin! I just tried it out. I have the habit to use `+` for the minor (binary compatible) versions; this seems to be ignored by the plugin. For example:

[code]

Obviously `0.5.+` is already using `0.5.0`, also `1.0.+` -> `1.0.1` is debatable. Finally, is there a switch to disable RC and milestone releases, like the last item?

[2013-10-14 22:09] #6 closed, assigned to rtimush

[2013-11-14 15:08] mheese opened #10 "getting updates for sbt plugins"
This is not really an issue, but a feature request: it would be extremely awesome if one could check sbt plugin updates with this sbt plugin as well.

[2013-11-16 04:01] laughedelic opened #11 "Report log level"
Would be nice to add to the [reporter](https://github.com/rtimush/sbt-updates/blob/0.1.2/src/main/scala/com/timushev/sbt/updates/Reporter.scala#L23) an option to log updates information with `warn` or even `error`, not only `info`.

Even better would be just to have a function, which does all the same but instead of loggin returns `String` or `Either[String, Seq[String]]` (no updates or seq of upd

[2013-11-25 08:55] #11 closed, assigned to nobody

[2014-01-09 10:43] Kwestor opened #15 "Saving report to file"
It will be nice to have task that creates report in file, like `dependencyUpdatesReport` that creates file in `target/dependecy-report.txt`.

Then I can easily create CI build that emails me that report weekly to keep track on changes.

It is possible now using `sbt dependencyUpdates > target/dependecy-report.txt` but that generates lot of sbt-related clutter like resolving dependencies.

I can tr

[2014-01-12 10:36] #15 closed, assigned to nobody

[2014-02-10 17:36] laughedelic opened #17 "Problems with UpdatesKeys visibility"
Maybe I'm doing something wrong, but I cant access `UpdatesKeys.dependencyUpdates` task key. In `sbt console`:

[code]

the same for `UpdatesPluginTasks`

[2014-02-13 11:38] mheese opened #18 "No updates showing anymore for any library/package"
Since I updated to sbt 0.13.1 and also the sbt-updates 0.1.3 version, I don't get any update informations anymore.

I have sbt-updates as a gobal plugin in my ~/.sbt/0.13/plugins/sbt-updates.sbt . The plugin is loaded, however, it just tells me that there are no updates available for any of the packages (which I know is not true).

Is this a known issue yet?  Sorry, if I create any duplicate here.

[2014-02-17 08:38] meloniasty opened #19 "Version X is considered newer than Y incorrectly"
Hi,

in my dependencies i'm using bonecp in version 0.8.0.RELEASE

[code]

also im using sbt-updates 0.1.3 with sbt 0.13.1

when call dependencyUpdates i'm getting:

[code]

but version 0.8.0-rc3 is older than 0.8.0.RELEASE

(http://mvnrepository.com/artifact/com.jolbox/bonecp, https://github.com/wwadge/bonecp/releases)

it's correct behavior?

[2014-02-19 13:16] #17 closed, assigned to nobody

[2014-03-10 10:41] 13h3r opened #20 "Akka update not showing"
In my project I have akka 2.2.3:

[code]

There is version 2.3.0 already, but dependencyUpdates does not show it.

This update is available via maven central and if I update version manually sbt able to fetch it.

[2014-03-17 02:32] #20 closed, assigned to nobody

[2014-03-27 21:02] analytically opened #22 "Version parsing flaky"
nl.grons:metrics-scala:compile       : 3.0.5_a2.3         -> 3.0.4

[2014-03-28 15:48] #18 closed, assigned to nobody

[2014-04-08 14:42] analytically opened #23 "java.lang.NumberFormatException: For input string: "20131213005945""
[code]

Related to "com.typesafe.play" %% "play-json" % "2.2.2" I think...

[2014-04-17 16:00] #23 closed, assigned to rtimush

[2014-04-26 12:44] OlegYch opened #28 "exception parsing version"
e.g.

[code]

[2014-05-11 21:28] Kwestor opened #29 "java.lang.NumberFormatException during dependencyUpdates"
[code]

[2014-05-21 17:51] countfloyd opened #30 "Incorrect results for org.apache.poi:poi"
This is probably the fault of the apache poi people, but sbt-updates thinks that 3.10-beta2 is newer than 3.10-FINAL:

[info] Found 2 dependency updates for shared
[info]   org.apache.poi:poi       : 3.10-FINAL -> 3.10-beta2
[info]   org.apache.poi:poi-ooxml : 3.10-FINAL -> 3.10-beta2

[2014-06-17 20:47] fommil opened #31 "support/exclude datetime snapshots"
I think this explains it all :-D

[code]

[2014-07-23 09:13] #30 closed, assigned to rtimush

[2014-07-31 16:05] bretthoerner opened #32 "Using sbt-updates with internal repositories"
Is it possible to configure sbt-updates to check internal repos like a Nexus repo? I see updates for Maven Central stuff but not known updates for internal libraries that are in my resolvers.

[2014-08-14 22:24] jaceklaskowski opened #33 "dependencyUpdates considers revision 1.6.0-3 older than 1.6.0"
`dependencyUpdates` shows 2 dependency updates in a project with webjars:

[code]

The versions are certainly the latest ones according to http://www.webjars.org/.

[2014-08-18 14:02] mcamou opened #34 "Better crossScalaVersions support"
It would be awesome if `sbt-updates` could actually check all the `crossScalaVersions` in the build and tell you the latest version that is available for all of them.

[2014-08-28 05:28] #28 closed, assigned to nobody

[2014-08-28 05:28] #29 closed, assigned to nobody

[2014-08-28 05:33] #33 closed, assigned to nobody

[2014-08-28 05:33] #22 closed, assigned to rtimush

[2014-08-28 05:37] #31 closed, assigned to nobody

[2014-08-28 14:04] #32 closed, assigned to nobody

[2014-09-16 10:17] reiz opened #35 "VersionEye Integration"
Hi. I'm the dude behind VersionEye and recently we added Scala SBT support to our Service. VersionEye can monitor a build.sbt file on GitHub / Bitbucket and notify you about out-dated dependencies via email. Like you use a CI system to automate your tests, VersionEye is a Continuous Updating Service in the cloud. You can read more here:

http://blog.versioneye.com/2014/09/15/scala-sbt-support/

Fo

[2014-10-23 11:44] bambuchaAdm opened #36 "Failing build, when exist updateable dependencies"
sbt-updates is great, but it usage on CI server is limited. Is there any way to make sbt build failed when some dependencies need update ?

Such command could be easily implemented, but  would be nice if sbt-update will provide it.

[2014-12-05 23:40] Sciss opened #37 "Plugin doesn't see updates with sbt 0.13.7"
I'm looking at my project [Mellite](https://github.com/Sciss/Mellite/tree/b7a6669017b5ac35321bfd482545bf9b70c1c62d). If I change the `project/build.properties`sbt version from 0.13.6 to 0.13.7, and I run `sbt dependencyUpdates`, the result is that there are no updates

[code]

With sbt 0.13.6, I correctly see

[code]

I don't know if this is an issue of sbt or the sbt-updates plugin. Given that sb

[2014-12-19 12:54] ChristoRibeiro opened #38 "dependencyLicenses report"
Hi,

Do you plan to add a generated report for licences? like dependencyUpdatesReport does.

[2014-12-31 13:21] travisbrown opened #42 "Ignore dependencies introduced by other plugins"
I'm not sure this is possible, but it would be nice to ignore dependencies that other plugins add to `libraryDependencies`. For example, given this minimal `plugins.sbt` (which is currently up to date—1.0.1 is the latest sbt-scoverage):

[code]

sbt-updates will report out of date dependencies:

[code]

sbt-scoverage adds these to the project's `libraryDependencies` via [`projectSettings`](https:/

[2015-01-06 12:12] hepin1989 opened #43 "update sbt plugins"
should this support update the sbt plugins?

[2015-01-13 06:29] rtimush commented on #43
There is a way to list plugin updates, see #10. I'm going to add a native `pluginUpdates` command though.

[2015-01-13 06:29] #43 closed

[2015-01-13 06:58] hepin1989 commented on #43
thanks for the ```pluginUpdates```

[2015-01-27 11:15] hepin1989 commented on #10
+1

[2015-02-01 11:53] rtimush commented on #42
SBT tracks the source of a SettingKey:
[code]
However, as far as I understand I'd have to evaluate the settings manually keeping track of the dependencies added on every step. It seems possible but not trivial.

[2015-02-03 21:35] sslavic commented on #35
I like sbt-updates support for failing a build on outdated dependencies in a project, as well as support for producing a report which can be used as build artifact. Both are good enough for me as a developer. Additionally when license related task(s) get added through https://github.com/rtimush/sbt-updates/issues/38 it will be great.

I'd still like to have project under VersionEye, a nice dashboa

[2015-02-18 10:55] antonini commented on #10
+1 for native `pluginUpdates`

[2015-03-21 17:13] barnardb opened #44 "Filter potential updates, rather than current dependencies"
I was hoping to be able to use `dependencyUpdatesExclusions` to exclude scala-library updates when they are for a different Scala binary version than the current one, and I have a cross Scala version relevant to the update in question. Concretely, I had a build with:

[code]

and ran `+dependencyUpdates`, which for 2.10.4 told me I could update

    org.scala-lang:scala-library : 2.10.4 -> 2.10.5

[2015-03-21 19:18] rtimush commented on #44
Thank you for pointing this out. This really makes sense, I will fix it.

[2015-03-22 01:04] rtimush commented on #44
Fixed in 818e756b4b4620a9f044b5859afc45755db0989c and published as `0.1.9-SNAPSHOT`

[2015-03-28 04:59] rtimush commented on #44
I tried the following build.sbt:
[code]
And the result is
[code]
Which looks ok. @barnardb, can you please check that your sbt-updates snapshot is up-to-date?

[2015-04-08 15:49] barnardb commented on #44
Yes, looks good to me now as well.

Cheers. :)

[2015-04-08 15:49] #44 closed

[2015-04-29 13:55] agemooij opened #45 "Support for private/authenticated repositories/resolvers?"
Does the plugin also visit non-standard, private or authenticated repositories?

We have some project-internal libraries that we publish to a private Artifactory instance that requires authentication. The repository has been added to the SBT `resolvers` setting and the relevant credentials has been added to the SBT `credentials` setting. Dependency resolution works as expected.

Unfortunately the

[2015-04-29 14:07] rtimush commented on #45
Thanks for reporting. It is not supported yet, but I will try to implement a fix this week.

[2015-04-29 14:41] agemooij commented on #45
Thanks!
Let me know if you need more information or feedback. We can also test-drive snapshots if that helps.

[2015-04-29 20:19] Sciss commented on #37
Any news on this? I'm still seeing that updates are missed which makes it not a reliable tool when trying to synchronise a bunch of projects :-(

[2015-05-08 06:45] rtimush commented on #37
I still cannot reproduce the problem. SBT doesn't do any caching itself, and the plugin does neither. There may be some caching on maven central, or on your internet proxy (do you have one)?

[2015-05-08 12:38] Sciss commented on #37
I have experienced this with at least three completely unrelated ISPs, even from different countries, so the Internet connection definitely doesn't have anything to do with it. I run Debian 8, that also shouldn't matter. Have you tested with multi project builds, perhaps the plugin doesn't work correctly in this case?

[2015-05-08 12:46] rtimush commented on #37
I use it quite often on the build with ~100 subprojects, so the problem is in something different. I will try to investigate deeper, but it's hard without a way to reproduce.

[2015-05-08 12:47] Sciss commented on #37
__Another idea__: Could it have to do with locally published artifacts? Because I have encountered this problem with my own libraries which always exist both on Maven and locally via `publish-local`?

[2015-05-08 12:49] rtimush commented on #37
It won't detect new versions from the local repo, but should still report versions from maven central (unless you don't have maven central in the `resolvers` setting, of course).

[2015-05-08 13:41] Sciss commented on #37
I don't have Maven Central in the resolvers explicitly, but sbt always checks Maven Central. But my local publishes are exactly the same, i.e. they _do_ have the same latest versions as well. So no clue.

[2015-06-23 15:50] barnardb commented on #44
The current snapshot has been working quite well for me for several months now, but it would be more convenient to have a non-snapshot version. Is there any possibility of a 0.1.9 release?

[2015-06-24 09:48] rtimush commented on #44
Yes, I'll release 0.1.9 by the end of this week.

[2015-07-03 07:36] rtimush commented on #44
Published 0.1.9, sorry for a delay

[2015-07-04 14:42] mtk opened #49 "sadness :-)"
https://dl.bintray.com/sbt/sbt-plugin-releases/com.timushev.sbt/sbt-updates/scala_2.10/sbt_0.13/ says where is 0.1.9?

[2015-07-05 08:13] hepin1989 commented on #49
could not found 0.1.3 too.

[2015-07-06 07:44] agemooij commented on #49
0.1.9 is indeed missing.

[2015-07-06 08:58] rtimush commented on #49
For some reason I thought that artifactory -> bintray migration affects snapshot versions only. Will fix.

[2015-07-07 10:31] jpzk opened #50 "sbt-updates is not compatible with scala 2.11.x?"
Hi guys,

I tried to use sbt-updates with Scala 2.11.x? It couldnt resolve the dependency, so I assumed it is not in the repository, for that Scala version. I checked manually, and there is no built for these versions. Is 2.11.X support planned?

Kind regards,
jpzk

[2015-07-07 10:39] wookietreiber commented on #50
Might be related to / duplicate of #49.

[2015-07-07 10:49] rtimush commented on #50
Try 0.1.8 for now

[2015-07-07 12:24] jpzk commented on #50
It works, thank you :)

[2015-07-07 12:37] #50 closed

[2015-07-08 12:29] rtimush commented on #49
Fixed, thanks for reporting

[2015-07-08 12:29] #49 closed

[2015-08-11 20:51] kryptt opened #51 "Add support for dependency ranges"
It is possible to use ivy dependency ranges in sbt. But when doing so, this plugin fails to validate latest versions against a project's specified ranges:

[code]

[2015-08-12 07:52] rtimush commented on #51
Yes, it is a known problem similar to #9. Thanks for reporting.

[2015-08-25 08:37] reiz commented on #35
@sslavic @rtimush Now there is a [VersionEye-SBT-Plugin](https://github.com/versioneye/versioneye_sbt_plugin). It works similar to the [VersionEye-Maven-Plugin](https://github.com/versioneye/versioneye_maven_plugin).

VersionEye is fetching the license and version information from different sources. Mainly from the Maven Central repository and JCenter. I'm not sure which other repositories are imp

[2015-09-22 16:07] Ciantic commented on #10
:+1: The above trick works so there is no hurry, but I think it would still be valuable addition

[2015-10-19 15:33] sattvik commented on #45
I have submitted a PR, #52, that solves this issue for us with our Nexus instance.  Whenever credentials are defined for a particular repository, it attempts to use basic auth.  It won't work for cases where some other type of authentication is required.

[2015-10-19 15:42] agemooij commented on #45
@sattvik awesome!

Hopefully I'll have some time this week to test your version. We use a private Artifactory instance that indeed uses basic auth (over https) so this should work for us and it would be very welcome.

[2015-10-20 12:11] agemooij commented on #45
I can confirm that this works! Thanks a lot!

I tested against `0.1.9-6-g5a7705c` and found out of date internal libraries. A new stable release would be very much appreciated.

[2015-10-20 12:11] #45 closed

[2015-12-24 13:24] gpgekko opened #53 "Hangs on a jboss remoting dependency"
For some reason, sbt-updates seems to consistently hang on the following dependency:

    "org.jboss.remoting" % "jboss-remoting" % "4.0.9.Final"

I've left it running a few times and it will timeout after a hour or so. I've tried removing all other dependencies, but the only way to resolve things is to remove it. So now I just comment it out before running the `dependencyUpdates` task and put it

[2016-01-08 22:43] agemooij opened #54 "Update the README to reflect 0.1.10 as the latest version"
I would send in a PR for this minor change but I'm not sure what the deal is with the section on snapshot versions since the latest snapshot version (0.1.9-6-g5a7705c) seems to be older than the latest version (0.1.10).

[2016-02-10 20:21] rtimush commented on #54
Thanks for fixing the readme. As for the snapshot version — this happened because the release tag was on the head git commit, and therefore there was no newer snapshot release. Probably it is not a big issue.

[2016-02-10 20:21] #54 closed

[2016-02-11 19:48] countfloyd opened #56 "after long period of working, now no updates are found"
Using 0.1.10. Output is:

[code]

Here is my build.sbt:

[code]

[2016-02-11 20:16] rtimush commented on #56
The problem is in the following line:
[code]
`sbt-updates` logs results on the `Info` level. If you want to keep this setting, you have several options:
 - Use `dependencyUpdatesReport` task to save report to file
 - Add `logLevel in dependencyUpdates := Level.Info` to project settings, but this means that you also have to add `sbt-updates` plugin to the project plugin explicitly (to `project/*.sb

[2016-02-11 21:05] countfloyd commented on #56
Thanks! Sorry for the noise. It's working again. I didn't really need that logLevel setting.

[2016-02-12 08:43] #56 closed

[2016-02-17 20:33] NicolasRouquette opened #57 "Update the README.md to use sbt-aether-deploy"
I think it would be useful to explain using sbt-aether-deploy as suggested here https://github.com/rtimush/sbt-updates/issues/32. Without it, sbt-updates couldn't tell me anything about available updates for artifacts in our internal Nexus Pro repository. With it, it works like a charm!

[2016-02-20 04:50] antonkulaga opened #58 "check updates for sbt plugins"
It would be nice if it will also check updates for sbt plugins, incl. its own updates

[2016-02-20 06:05] rtimush commented on #58
There is a way to list plugin updates, although it is a bit tricky. See #10.

[2016-02-20 06:05] #58 closed

[2016-02-23 16:17] #36 closed

[2016-02-23 16:25] rtimush commented on #53
Do you still have this problem? If yes can you please share a list of configured resolvers? I tried with the default ones and it works:
[code]

[2016-02-24 09:04] gpgekko commented on #53
I can't reproduce it anymore. Looking at the [version releases](http://search.maven.org/#search%7Cgav%7C1%7Cg%3A%22org.jboss.remoting%22%20AND%20a%3A%22jboss-remoting%22), it seems there have been releases since the last time I had this. Maybe one of those older versions has a name that didn't play well with the system?

Either way, I'll close this since it is no longer reproducible (and hopefully

[2016-02-24 09:04] #53 closed

[2016-02-24 09:25] rtimush commented on #53
Bad versions would likely cause crashes, not hangs. It is more likely that there were some network problems. Anyway, good to know that it is not reproducible now.

[2016-03-24 09:33] lunaryorn commented on #10
@rtimush I tried the above trick, but can't get it to work:

[code]

`dependencyUpdates` includes updates for the Scala version, but not about outdated plugins, even though I deliberately downgraded a couple of plugins, both in my global `plugins.sbt` and in the `plugins.sbt` of the project.

[2016-04-18 10:19] alexeyr commented on #10
Same:
[code]
But current `sbt-assembly` version is 0.14.3 and `sbt-release` is 1.0.3.

[2016-04-21 17:15] jedesah opened #59 "Support non-numerical versions"
Many libraries now use the `a` suffix in order to distinguish between artifacts built with `scalaz` `7.1.x` and `7.2.x`. So for instance `http4s` publishes both a `0.13.2` and `0.13.2a`.

Currently, `sbt-updates` reports `0.13.2` as being an update over `0.13.2a` which is somewhat surprising given typical `String` ordering. To be fair, the ideal behavior would probably to have special support for

[2016-04-21 18:04] jedesah commented on #9
👍

[2016-04-21 18:54] laughedelic commented on #59
What does this suffix mean? I think this doesn't fit in the semantic versioning schema.

[2016-05-06 11:41] hosamaly commented on #59
If suffixes are to be considered, then it would make sense to consider them to have a lower value than versions without suffixes, e.g. `0.13.2-M5` or `0.13.2rc`.

[2016-05-17 07:37] milessabin commented on #10
I'm seeing the same issue as @lunaryorn and @alexeyr.

[2016-05-20 10:09] antonkulaga opened #60 "add sbt 1.0 support"
@rtimush this plugin is super useful, it would be nice to see it in sbt 1.0 http://www.scala-sbt.org/1.0/docs/Community-Plugins.html

[2016-05-25 22:42] nafg commented on #19
Another case (should this be another ticket?):
[code]

It thinks that 2.4.0-1 is older than 2.4.0, when in reality it's a hotfix version.

[2016-06-15 19:44] antonkulaga opened #61 "scalatest snapshots are not treated correctly"
In scalatest dependencies old snapshots by mistake are considered by the plugin as newer than RC:
[code]

[2016-07-18 21:45] rtimush commented on #61
Duplicates #19

[2016-07-18 21:46] #61 closed

[2016-07-18 21:51] rtimush commented on #59
Non-numerical versions are supported, but `0.13.2a` is indeed considered a pre-release version to `0.13.2`. I don't see any way to generically support custom versioning schemes like this `a` suffix for different scalaz versions. I can allow implementing custom version comparison strategies  as a part of your own build script (planned), and provide a few pre-defined ones like the one used by http4s

[2016-07-18 21:52] rtimush commented on #59
All issues like this are tracked by #19

[2016-07-18 21:52] #59 closed

[2016-07-18 21:56] rtimush commented on #37
Closed as not reproducible. Please reopen if you still have this issue.

[2016-07-18 21:56] #37 closed

[2016-07-18 21:57] #35 closed

[2016-08-12 17:47] #57 closed

[2016-08-12 21:53] laughedelic opened #62 "Don't show major Scala updates for sbt plugins"
Sbt doesn't support Scala 2.11 yet, so it would be nice to check the `sbtPlugin` setting and don't report

[code]

[2016-08-12 22:33] rtimush commented on #34
Closed by 382ff2ef5279fb7cd9b41e51ce4ebe7eb6482251

[2016-08-12 22:33] #34 closed

[2016-08-14 10:27] rtimush commented on #62
This makes sense, but sbt 1.0 using 2.11 should be taken into account. In the meanwhile you can exclude major scala updates using `dependencyUpdatesExclusions`.

[2016-08-18 19:23] rtimush opened #63 "Support for Ivy repositories"
Currently only Maven repositories are supported.
At least for bintray-hosted repositories it is possible to query a list of versions too.

[2016-10-30 03:11] nafg opened #64 "Feature: scala upgradability check"
Right now it shows output like
[code]
What it really means to me however is that a new scala version is on maven. But that's useless if my dependencies are published for it.

Suggestion: Don't show dependency update for scala-library. Instead, it should separately say "new scala version available," and show which libraries have been published for it. The library for the new scala may not have the

[2016-11-15 13:57] rtimush commented on #63
Implemented in c6d777b085477b9741f599d263befb98f4439d1a

[2016-11-15 13:57] #63 closed

[2016-11-16 10:56] rtimush opened #65 "sbt-updates snapshots do not follow semantic version conventions"

[2016-11-25 17:29] rtimush commented on #65
Resolved in f85c84a29951cd21c2d1f8fd64139af72ce482de

[2016-11-25 17:29] #65 closed

[2017-01-20 14:57] barnardb opened #67 "Relevant updates hidden after behaviour change in 0.2.0 w.r.t. crossScalaVersions"
The behaviour change in 0.2.0 has a number of downsides for me. My projects that target multiple versions often use different library versions with different Scala versions. Using sbt-updates versions before 0.2.0 I typically run `sbt +crossScalaVersions` to get a per-Scala-version update report. The new behaviour hides relevant updates from me.

For example, there are no versions of Akka prior to

[2017-02-08 11:31] ruippeixotog commented on #10
The issue persists and @laughedelic's workaround doesn't work anymore, as people are saying. Is there another workaround that works? If not, is this feature scheduled for anytime soon?

[2017-02-08 11:46] ruippeixotog commented on #10
Nevermind what I said, I updated sbt-updates to version 0.3.0 and the workaround seems to have started working again :)

[2017-02-18 09:55] rtimush commented on #67
`crossScalaVersions` support was introduced in response to #44, so both the old and the new behaviors are useful in some scenarios. It seems that the only option is to introduce a configuration parameter to let the build author control whether he wants to use different dependency versions for different Scala versions or not.

[2017-02-18 12:00] slothspot commented on #10
workaround doesn't work for me:
[code]
Am I missing something in sbt-updates setup?

[2017-02-18 12:02] rtimush commented on #10
@slothspot did you setup sbt-updates just for the project or in the global sbt configuration file? In order to get dependency updates for sbt plugins you need to have sbt-updates configured globally.

[2017-02-18 12:06] slothspot commented on #10
Oh, thanks for explanation. I prefer per-project plugins setup. May be it would be reasonable to add note about this in README?

[2017-02-18 12:12] rtimush commented on #10
Yes, it is worth mentioning in the README. Regarding a per-project setup — I suppose if you add sbt-updates as a plugin to your build project (`addSbtPlugin` in `project/project/sbt-updates.sbt`) then it will work for plugin updates.

[2017-02-18 12:39] slothspot commented on #10
In case of putting `sbt-updates.sbt` into `project/project` `dependencyUpdates` is not available for project itself, and placing `sbt-updates.sbt` twice inside of the project is not very convenient.

[2017-02-19 01:23] nafg commented on #10
This is why it's called a workaround, not a solution.
Again... Problem: include updates for plugins. Workaround: plugins are just
dependencies of the meta build, so use sbt-updates on the meta build.

Regardless, I would recommend setting it up globally. After all, you don't
want CI or other machines to have to download it, but you do want to use it
for any project on your machine (there's nothing

[2017-02-19 10:20] slothspot commented on #10
@nafg, idea is clear and understandable. But since I use custom tasks which depend on plugins, I prefer when projects don't depend on per-user defined plugins.

[2017-02-19 15:47] laughedelic commented on #10
@slothspot have you read [this](http://www.scala-sbt.org/0.13/docs/Organizing-Build.html#sbt+is+recursive)? Do you actually define any tasks depending on this plugin in the **meta**-project? I doubt it. So adding this plugin to your global scope meta-project is actually what you want:

[2017-02-20 06:51] slothspot commented on #10
@laughedelic I've got main point already, and don't have any tasks depend on this plugin.  But in general I prefer per-project plugins configuration and it was not clear for me after reading sbt-updates documentation that I need to define this plugin globally to make plugins update check work.

[2017-03-12 20:44] fommil opened #71 "java 6 support"
I noticed that 0.3.0 now requires nio apis, which means it won't work on java 6.

It would be good if this worked on Java 6, as that is still the official platform for scala 2.10. This will change when sbt 1.0 is released.

[2017-03-12 20:57] rtimush commented on #71
I agree, this makes sense and seems to be an easy fix

[2017-04-13 11:51] adamnfish opened #72 "Include transitive dependencies"
It'd be nice to be able to see updates for all a project's dependencies, rather than just those explicitly mentioned in the `libraryDependencies` setting. This could be achieved via a setting or a separate task

In particular, if a library pulled in by one of your project's dependencies has a vulnerability it's great to be able to work out if there's a patch-upgrade available that would fix it. Th

[2017-04-13 12:04] rtimush commented on #72
It is rather easy to implement, but I intentionally decided to display dependencies for direct dependencies only. I agree, this may be useful to be able to find patch updates that may fix vulnerabilities, probably with a separate task (or an argument to the existing task).

[2017-04-13 13:41] adamnfish commented on #72
If you've a pointer for me about how to retrieve the full, resolved list of dependencies I'll be happy to give it a crack.

[2017-04-15 11:43] rtimush commented on #72
I'd say one of `*Classpath` (probably `managedClasspath`) tasks can give you a list of dependencies. If I am not mistaken they are returned as `Attributed` with maven/ivy coordinates as attributes.

[2017-04-23 13:53] #71 closed

[2017-06-04 19:35] #60 closed

[2017-08-16 19:40] mxl commented on #72
Plugin also does not show dependencies of subprojects.

[code]

[2017-08-16 20:16] rtimush commented on #72
Adding `.aggregate(commonModule)` to root solved the problem. If you think such behavior is unexpected let's indeed continue in a separate issue.

[2017-09-20 08:17] mushtaq opened #77 "Publish binaries for sbt1.0"

[2017-09-20 08:28] rtimush commented on #77
They are already published for sbt-updates 0.3.1, but thanks for the reminder, I need to update the readme

[2017-09-20 08:31] rtimush commented on #77
ff2371cb9d08eb72712753b2282ec6922a7d63b9

[2017-09-20 08:31] #77 closed

[2017-09-20 10:30] mushtaq commented on #77
Thanks, will try it.

[2017-10-01 10:33] omervk commented on #9
+1 to this issue 👍
Hope it leaves the icebox someday...

[2017-10-11 09:16] kastoestoramadus opened #79 "NoSuchMethodError"
I got sbt 0.13.15 and sbt-updates 0.3.2.
An error is thrown:

[warn] Executing in batch mode.
[warn]   For better performance, hit [ENTER] to switch to interactive mode, or
[warn]   consider launching sbt without any commands, or explicitly passing 'shell'
[info] Loading project definition from /home/walidus/IdeaProjects/tracking/project
[info] Set current project to tracking (in build file:/home/

[2017-10-11 09:18] kastoestoramadus commented on #79
Works fine with 0.3.1

[2017-10-11 09:36] rtimush commented on #79
Thanks for reporting. While I'm fixing these compatibility issues, you can switch to sbt 0.13.16 — it should work fine.

[2017-10-11 22:16] #79 closed

[2017-10-12 14:56] rtimush commented on #79
Fixed in `sbt-updates 0.3.3`

[2017-10-18 12:20] oschrenk opened #81 "error: bad symbolic reference w/ sbt 0.13.8"
I have a client project using sbt 0.13.8 with which I get

[code]

when the sbt-updates plugin is enabled

[code]

I noticed that the requirements say

It basically says that you can't use sbt 0.13.x with 3 <= x < 15. Which of course then means that the requirements state that the version 0.13.8 is not supported and I will try to push the client to upgrade to a later version, but...

Out of curios

[2017-10-18 12:44] rtimush commented on #81
Thank you for reporting. The intention was to support `0.13.8` but the compatibility was not tested and therefore at some point it got broken. As a part of a fix for another SBT compatibility issue (#79) I introduced compatibility testing but there are still some issues with older SBTs.
Now I need to go through the old versions and fix everything, shouldn't be too difficult.
In the meanwhile, you

[2017-11-22 11:49] omervk opened #82 "Exclude Dependencies by Classifier"
I have a project that ultimately runs on a hosted service which provides jars in the classpath at runtime. This means that:

1. I use the classifier `provided`, and;
2. I can't upgrade these dependencies unless the hosting service does.

I would love to see a feature that lets me filter by classifier so I can skip these dependencies in the report.

[2017-11-22 14:00] rtimush commented on #82
Sounds reasonable to me. You can already achieve what you want using `dependencyUpdatesFilter`, but there is no ready-to-use utility to filter by configuration so you have to subclass `sbt.ModuleFilter`:
[code]

[2017-11-22 15:57] omervk commented on #82
That's an interesting solution, but implementing it in my sbt file fails to filter out any dependency. I might be using it wrong. Could you please clarify where this piece of code needs to be written?

[2017-11-23 17:23] rtimush commented on #82
Do you have your dependencies just in the `provided` configuration, or it is something like `provided,test`?

[2017-11-23 20:34] omervk commented on #82
You're right, my dependencies do look like `provided,test`. I changed your code to accommodate for that and ran that and it didn't work:
[code]
Trying further, it also looks like using the `dependencyUpdatesFilter -= moduleFilter(...)` syntax doesn't work either for any dependency I have so... o_O

[2017-11-24 10:44] leesah opened #83 "Output contains invisible non-space trailing characters"
I am trying to write a script to automatically step the version of a certain dependency, the first step of which is to extract the latest version of it with sbt-updates:

    $ sbt -batch dependencyUpdates | awk -F'\\s+->\\s+' '/com.example:example-artifact/ {print $NF}'
    1.3

Which looks fine until I try to trim the trailing whitespaces:

    $ sbt -batch dependencyUpdates | awk -F'\\s+->\\s+'

[2017-11-24 10:48] leesah opened #84 "Feature request: new tasks "useLatestReleases", "useLatestVersions", etc."
I'd like to raise a feature request for something similar to what is provided in the `versions-maven-plugin`, for example:

- [versions:use-latest-releases](http://www.mojohaus.org/versions-maven-plugin/use-latest-releases-mojo.html)
- [versions:use-latest-versions](http://www.mojohaus.org/versions-maven-plugin/use-latest-versions-mojo.html)

[2017-11-24 14:57] rtimush commented on #83
Hi.
Have you considered `depencencyUpdatesReport` task? It writes the report to a text file and I think there should be no special characters.
Another option is to write your automation as an SBT task and get the updates data from `dependencyUpdatesData`

[2017-11-28 10:11] leesah commented on #83
Then this can be discussed in #84, I guess. I'm closing this issue.

[2017-11-28 10:11] #83 closed

[2017-11-28 10:15] leesah commented on #84
Did some researching. Like what the author of sbt-release said [in the README](https://github.com/sbt/sbt-release#versionsbt), it doesn't seem to be a good idea to directly update the `build.sbt` as it's not in a strictly structural format.

Then how do you think about introducing something like a `dependencies.sbt`?

[2017-11-28 10:22] leesah commented on #84
I am not certain about this approach when it comes to dependency management because:

1. It doesn't sound like a sane idea to have a separate `.sbt` for each plugin. Sounds more like a lazy workaround.
2. The dependencies can have much more complex syntax than just a version definition (there can be a lot of exclusions at least) so I'm not sure a separate `.sbt` file really solves the problem.

[2017-11-28 18:59] rtimush commented on #84
Related PR: #68

[2017-11-28 19:40] leesah commented on #84
I've been trying things out today. I agree on the argument in #68 that updating `build.sbt` using string matching is fragile, so is any `.sbt` even though separated. So my proposal is to manage a separate `managed-dependencies.xml` and import to `build.sbt` using

    scala.io.source.fromfile("managed-dependencies.xml")

Please comment.

[2017-12-06 10:12] leesah commented on #84
I've been doing some experiments. When I remove the `libraryDependencies ++= Seq(...)` statement and replace with `ivyXML := <dependencies>...</dependencies>`, compilation fails:

    [error] (compile:compileIncremental) scala.reflect.internal.MissingRequirementError: object scala in compiler mirror not found.

And if I run `show libraryDependencies` in sbt, only the very basic libraries:

    [in

[2017-12-06 11:07] rtimush commented on #84
Hi @leesah. To be honest I don't think anyone would be willing to replace their SBT dependency definitions with XML. One possible direction for exploration is to parse a build file (Scalameta?) to find where the version values are declared. This will allow upgrading dependencies even if their versions are declared as variables.

[2017-12-06 16:50] leesah commented on #84
I totally agree. That is for sure the perfect solution. I tried to work around it because I never worked with anything like a compiler etc., I don't really know where to start. I'll try to find some reading materials and see if I could manage.

[2018-01-04 22:29] oschrenk commented on #81
With sbt 1.0 being very usable now and with 0.13.8 so far in the past, I'm closing this.

[2018-01-04 22:29] #81 closed

[2018-01-11 19:34] tpolecat opened #85 "sbt-updates hangs frequently in sbt 1.0"
Hi, I absolutely love sbt-updates. It's one of the only things associated with sbt that brings me joy. So thanks for your work on it.

So ... when [re]loading our project we automatically run `dependencyUpdates` and have noticed that maybe 10% of the time it hangs after completing the report, with high CPU usage. We have to ^Z and `kill -9` to stop sbt. I don't know if it's an issue with sbt-updat

[2018-01-11 22:01] rtimush commented on #85
Happy to hear that you find sbt-updates so useful!
I think I identified the issue, can you please try version `0.3.4-2+gd4c4ec6` from `Resolver.bintrayIvyRepo("rtimush", "sbt-plugin-snapshots")`?

[2018-01-11 22:02] tpolecat commented on #85
Yep, I'll give it a try. Thanks!

[2018-01-11 22:16] tpolecat commented on #85
So far so good. I'll merge that and see what the ream reports.

[2018-01-16 21:07] rtimush commented on #85
Hi @tpolecat. Have you our the team experienced any hangs after this fix? If not, I will release a new version.

[2018-01-16 21:41] tpolecat commented on #85
We have not had any problems as far as I know.

[2018-01-17 23:04] rtimush commented on #85
Fixed in 0.3.4

[2018-01-17 23:04] #85 closed

[2018-01-18 15:49] rtimush commented on #82
Sorry, somehow I didn't see your comment. I just tested it locally and the following code worked for me:
[code]
If it is still not working for you, can you share you build file please?

[2018-01-19 14:54] rtimush commented on #72
Preliminary implementation is on the https://github.com/rtimush/sbt-updates/tree/transitive-updates branch and available as 0.3.5-2+ga326a8e

[2018-01-21 09:48] omervk commented on #82
Unfortunately, I won't be able to pursue this issue as I've left the company in whose build this was happening and no longer have access to it. I'll close the issue. Hopefully this was a rare case.

[2018-01-21 09:48] #82 closed

[2018-01-26 03:35] steinybot opened #86 "No updates when using a pull-through cache"
When using something like JFrog Artifactory that is acting as a pull-through cache no updates are shown if they have not been cached yet.

I guess the solution is to change the `dependencyUpdatesData` task to to use `fullResolvers` that are scoped to `dependencyUpdatesData` so that this can be overridden.

[2018-01-26 09:36] rtimush commented on #86
I did some tests with Artifactory, and it seems that for maven repos it works file — `metadata.xml` is requested from Artifactory and it serves one from the upstream repo. For Ivy repositories `sbt-updates` rely on web page parsing, so it may indeed not work.

I have nothing against making `fullResolvers` task-scoped, but if you can provide more details on your setup it would be helpful as it migh

[2018-02-13 22:59] mwz opened #88 "Post dependency updates report to Slack"
I run the `dependencyUpdates` task as a part of an sbt-release process in my CI builds, but I never tend to check the output of successful builds and it's easy to forget to check for updates manually.

It would be awesome to have a Slack webhook integration so the plugin can send me a gentle reminder with the report if there are any libraries to update. ...and honestly, I wouldn't mind getting the

[2018-03-20 13:44] akauppi opened #89 "`sbt dependencyUpdates` doesn't work if plugin installed globally"
I like the idea of `sbt-update` and have started using it.

However, there's strange behaviour observed. Adding the plugin to the global file is not enough (I have tried both `plugings.sbt` and the `sbt-updates.sbt` mentioned in the README). In order to have `sbt dependencyUpdates` to work on a given project, I first need to "visit" the plugin file locally. After that it works.

ie..

[code]

[cod

[2018-03-20 14:44] agemooij commented on #89
@akauppi It looks like you have a typo in your original call, e.g. you typed `sbt depedencyUpdates`, without the "n".

FYI I have used this plugin for years as a global plugin without any of the problems described so I think this is a simple user error instead of a bug.

[2018-03-20 18:46] akauppi commented on #89
Oops, bad day.

[2018-03-20 18:46] #89 closed

[2018-05-01 17:54] JoeNunnelley opened #91 "sbt dependencyUpdates report should have a flag to make it machine readable."
Right now the output is difficult to parse (regex or otherwise) through tooling because of the way it formats output when data may be missing.   I'd like the options to produce this report in a CSV and/or json format output to the console (and / or file). Thanks.

[2018-05-03 10:26] dwijnand commented on #84
💯 That's one of the things I was hoping (finally) upgrading sbt to Scala 2.12 would allow for.

[2018-05-03 10:45] dwijnand commented on #42
I think I bear good news!

In the process of looking at this issue I found out that for library dependencies in particular this might be very accessible: there is a `dependencyPositions` which is a `TaskKey[Map[ModuleID, SourcePosition]]`!

https://github.com/sbt/sbt/blob/v1.1.4/main/src/main/scala/sbt/Keys.scala#L356

With regards to compatibility, it's there as of sbt 0.13.16 (https://github.com

[2018-05-03 12:30] rtimush commented on #42
This looks very useful, thank you!

[2018-05-13 13:44] Sciss opened #93 "Confusing print-out includes old version in current project when new version is used"
E.g.

[code]

This is confusing IMO; why would for example `soundprocesses-views` version 3.20.0 be selected if everything (according to the report) relies on 3.19.0? In this case, both `wolkenpumpe-core` and `mellite` do actually depend on 3.20.0 not 3.19.0; the only library that depends on 3.19.0 is `scalafreesound`; so something goes wrong in the reporting.

[2018-05-13 17:16] laughedelic commented on #93
This has nothing to do with the sbt-updates plugin. It's sbt's own behaviour, you should probably report this to sbt/sbt.

[2018-05-25 20:30] #42 closed

[2018-10-02 07:12] DaimonPl commented on #10
Any idea if/when this would be implemented? :)

[2018-10-08 16:02] nadavwr opened #95 "dependencyOverrides ignored"
I specify version ranges in my dependencies, then use `sbt-lock` to generate `lock.sbt` files. Those define a `dependencyOverrides` setting with concrete dependency versions, that override version  ranges. **tl;dr** `libraryDependencies` with version ranges and `dependencyOverrides` with specific versions.

When invoking `dependencyUpdates`, I see dependency updates based on version ranges instead

[2018-10-09 21:14] rtimush commented on #88
The Slack integration itself probably shouldn't be part of this plugin, as there are already various options to send slack notifications from either sbt or CI tools. However if something is missing in `sbt-updates` that would simplify integration, a PR would be very welcome.

[2018-10-09 21:16] rtimush commented on #95
Indeed it makes sense to take `dependencyOverrides` into account. If you or someone else could make a PR that would be really helpful. Otherwise, I will hopefully take a look myself.

[2018-10-31 15:29] seveneves commented on #95
Hey @rtimush

Could you please review the PR and consider merging it to master and releasing it with next release?

[2018-10-31 16:34] rtimush commented on #95
Hey @seveneves. Thanks a lot! I will take a look.

[2018-11-19 16:28] zafarella opened #98 "sbt plug-in updates does not work"
The plug-in is really handy, however, for some reason it does not provide me the plug-in updates. Did you guys ever encountered any similar issue?
[code]
sbt plug-ins:
[code]

[code]

[2018-11-19 20:35] zafarella commented on #98
I just need add `~/.sbt/1.0/plugins/sbt-updates.sbt` with
[code]
?

[2018-11-29 14:43] rtimush commented on #98
Closing for now, please re-open if you still see some issues

[2018-11-29 14:43] #98 closed

[2018-12-06 19:12] coltfred opened #99 "Integration with fm-sbt-s3-resolver"
https://github.com/frugalmechanic/fm-sbt-s3-resolver writes to an s3 bucket as a maven repo. Would you be interested in supporting the `s3://` urls? This would allow people who are publishing to a private maven repo on s3 to use your plugin.

I think I have a pretty good idea of how that should be done, but didn't want to do the work if you weren't interested in supporting it.

Thanks!

[2018-12-07 18:02] rtimush commented on #99
Hi @coltfred. I think it could be a good addition for those who use the S3 resolver, so a pull request will be very welcome! Just make sure that you don't pull an aws sdk as a dependency for everyone :-)

[2019-01-10 09:10] nadavwr commented on #95
@rtimush I gave 0.3.5-17 a try and it works for me. Do you plan on releasing it soon?

[2019-01-11 19:32] rtimush commented on #95
@nadavwr Thank you for checking. I faced some issues with Travis builds, but I will release a new version soon.

[2019-02-10 19:54] #88 closed

[2019-03-05 02:00] steven-lai commented on #19
Just wanted to add - I think you can specify something like `latest.release` (see http://ant.apache.org/ivy/history/2.5.0-rc1/ivyfile/dependency.html ). In general probably a bad practice to blindly use the latest version but just throwing it out there.

[2019-04-18 20:32] kiranbayram opened #102 "Add contributing file"

[2019-04-22 14:28] kiranbayram commented on #9
I've started to give this a shot but I can't move it in project board. Could you please do that for me @rtimush ?

[2019-04-22 18:20] kiranbayram commented on #9
Opened https://github.com/rtimush/sbt-updates/pull/104 for this

[2019-06-13 05:39] anilkumarmyla opened #108 "Failed to find updates for sbt plugins published to maven central"
file:project/plugins.sbt
[code]

sbt-updates added either as a global plugin or project plugin fails to find an update 2.0.1 to this plugin.

This might be due to some sbt plugins published maven style do not generate maven-metadata.xml

Enabling debug mode you can see that a call is made to https://repo1.maven.org/maven2/org/scalameta/sbt-scalafmt_2.12_1.0/maven-metadata.xml which returns 404, bu

[2019-06-13 06:08] anilkumarmyla commented on #108
With these temporary changes I could find updates to these special sbt plugins

[code]

Updates
[code]

Not sure how to incorporate these temporary workarounds into the codebase

[2019-06-13 06:49] rtimush commented on #108
Thanks for the finding! It seems that sbt plugins published to maven central have to be indeed treated specially. I will take a look.

[2019-06-19 08:45] #108 closed

[2019-06-19 12:04] anilkumarmyla commented on #108
Thanks @rtimush for the quick fix!

[2019-06-19 14:46] rtimush commented on #9
Fixed in #104

[2019-06-19 14:46] #9 closed

[2019-07-17 20:40] rtimush opened #111 "Some dependencies defined in separate scala files are not recognized"
Dependencies defined in `project/*.scala` files with a non-default package added to an explicitly defined subproject are not recognized as project dependencies:

**project/Dependencies.scala**
[code]

**build.sbt**
[code]

The reason is that in this case `dependencyPositions` task returns a position with a relative filename instead of a full path that it normally returns for the dependencies defin

[2019-07-17 22:06] #111 closed

[2019-07-18 06:46] anilkumarmyla commented on #10
#110 documents on how to use sbt-updates as a project plugin. Rest catch all issues reported here might be fixed in the latest version, probably better to close this one and raise specific issues as new ones

[2019-09-23 09:13] mhogerheijde opened #123 "Updates are not found when credentials file is configured, but not present."
Our internal nexus repository needs credentials to publish artefacts, but none to download them.

We do this by having a `sbtCredentials.ini` on our build server and our `build.sbt` contains

[code]

This file is not present on our development machines.

When running `sbt dependencyUpdates` on our local machines, it reports "no updates found". When I remove the line, it does find updates.

build.s

[2019-09-23 10:54] mhogerheijde commented on #123
Edited: corrected the expected output with the actual expected output instead of the copy-paste mistake I made

[2019-09-28 17:53] #123 closed

[2019-09-28 18:05] rtimush commented on #123
@mhogerheijde, thank you for such a thorough bug report! I hope #125 has fixed the problem. Would be great if you could check whether it works for you:
[code]

[2019-09-30 09:10] mhogerheijde commented on #123
@rtimush It works in the sense that I now do get the updates listed.

It does, however, now also throw `RuntimeExceptions` for the missing `sbtCredentials.ini`. (see output below).

I'm not fully sure if this is caused by the `sbt-updates` plugin itself, since the throw ultimately occurs in the `sbt.librarymanagement.ivy` package.

It might also be that I should test for the existence of the file

[2019-09-30 20:48] rtimush commented on #123
Can you please try `0.4.3-10-409c548`?

[2019-10-01 07:44] mhogerheijde commented on #123
Works like a charm! Thanks!

[2019-10-02 18:43] fthomas opened #128 "Ordering of ScalaTest's snapshot versions is odd"
Hi,

I was wondering why sbt-updates didn't report ScalaTest 3.1.0-RC3 as an update for 3.1.0-SNAP13 and the reason is that `VersionOrdering` considers 3.1.0-RC3 less than 3.1.0-SNAP13. Here are all ScalaTest versions sbt-updates found ordered by `VersionOrdering`:
[code]

I think 3.1.0-SNAP13 should be less than 3.1.0-RC3 and will try to change `VersionOrdering` accordingly.

[2019-10-02 22:17] rtimush commented on #128
I think it orders this part of the version lexicographically following [semver#11](https://semver.org/#spec-item-11). For the real-world libraries, it may indeed make sense to treat `rc` differently.

[2019-10-04 19:57] #128 closed

[2019-12-16 18:39] zkendall opened #147 "Does this use custom resolvers?"
I tried this plugin out and it only showed results for open-source libraries. None of our own internal dependencies showed up.

We have our resolvers set  like

[code]

[2019-12-16 20:21] rtimush commented on #147
In general, looking up updates in internal repositories should work without additional effort. For maven repositories, `sbt-updates` tries to download `maven-metadata.xml` (you can see this if you run `sbt --debug dependencyUpdates`). One possible reason could be that your Nexus server is not set up to rebuild the maven metadata. You can create a scheduled task in Nexus for that, or update metadat

[2020-02-04 16:36] mosche commented on #147
I was just looking into a similar issue for our private repos.
In our case it turns out that the request never reached Nexus behind Cloudflare.

Cloudflare rejects requests with missing `User-Agent` header because of a `Browser Integrity Check` that's enabled by default. If that's the case for you, you might want to disable that check using a page rule.

[2020-02-04 19:37] rtimush commented on #147
@mosche, thank you for the hint! I will check and add user agent to the requests the plugin makes.

[2020-02-07 22:23] JoeNunnelley commented on #91
change not accepted

[2020-02-07 22:23] #91 closed

[2020-04-13 13:56] #147 closed

[2020-05-08 20:38] rtimush commented on #95
Fixed in 0.4.0

[2020-05-08 20:38] #95 closed

[2020-05-08 20:40] rtimush commented on #38
Closing due to inactivity. I'm also not sure that this feature should be part of sbt-updates.

[2020-05-08 20:40] #38 closed

[2020-05-08 21:17] #102 closed

[2021-03-02 20:27] bwbecker opened #211 "sbt-updates stopped working for me"
sbt-updates stopped working for me.  I know that's not helpful, but if there are any suggestions for how to debug, I'd welcome them.

I've used it on this project in the past and it's been very helpful.  Today, however, it just gives

[code]

when I know there are other dependencies that require updating.

In addition, the output has no mention of subprojects involving Scala.js (which have depende

[2021-03-02 22:58] rtimush commented on #211
I'd suggest running `sbt -debug dependencyUpdates`. The plugin will list all URLs it tries to access looking for dependency updates, so you may check if they make sense. Another possible cause is #67, if you have `crossScalaVersions` defined.

[2021-03-03 01:00] bwbecker commented on #211
Thanks for the suggestion.  The list of URLs it checks is pretty short:

[code]

That doesn't come close to the entire list that it should be checking.  The `cs.uwaterloo.ca` URLs are for my own repo.

I'm not cross-compiling, so I don't think #67 is relevant.  I'm targeting only Scala 2.12.13.

The structure of the project is:

[code]

[2021-03-03 17:35] bwbecker commented on #211
My memory was that a single application of `dependencyUpdates` at the top-level project was all that was required.  Apparently my memory is bad or that behaviour has changed.  In any case, applying `dependencyUpdates` in each of the subprojects did what I needed.

Thanks for your help.

[2021-03-03 17:35] #211 closed

[2021-03-06 11:33] rtimush commented on #211
Good to hear that you found a solution!
`dependencyUpdates` follows the regular sbt project aggregation rules. Usually, the root sbt project aggregates all children, so it's enough to just call `dependencyUpdates`, but if there are non-aggregated subprojects you indeed need to run `<subproject>/dependencyUpdates` explicitly.

[2021-06-02 13:59] AlixBa opened #241 "Can't update from GitLab package repository"
Hey,

sbt-updates does not work for GitLab private package repository.
GitLab expects a header "Private-Token: <token>" or "Job-Token: <token>".

Currently, the plugin sends a "Authorization: Basic b64(Private-Token:<token>)".
Could it be possible to send, raw, a header "user: password" or is it sensitive?
Is there another way?

It seems that Coursier does this when `csrConfiguration ~= (_.addRepo

[2021-06-12 16:13] rleibman opened #242 "Ignore Invalid Versions"
I get the following:
[info]   com.google.apis:google-api-services-calendar : v3-rev411-1.25.0 -> InvalidVersion(v3-rev99-1.19.0)
Somebody at some point in the google thing created a v3-rev99 version, for some reason, dependencyUpdates thinks that this invalid version is higher than the current version, so I can't tell what the actual latest version is (yeah, argue with google about not using semve

[2021-06-27 12:58] #242 closed

[2021-06-27 12:58] rtimush commented on #242
The reason was that both versions were considered invalid, and in this case no "smart" comparison logic were applied. I updated the code to allow such versions.

[2021-06-27 16:41] rleibman commented on #242
Thanks for addressing this!

[2021-08-02 18:17] DavidGoodenough opened #247 "Invalid version not parsed"
If you have JavaFx as a dependency you will get (amongst others):-

[info]   org.openjfx:javafx-base     : 16 -> InvalidVersion(18-ea+1) -> 15.0.1

So it would appear that sbt-updates can not cope with all the version number formats that are allowed by Maven and are in use within the Scala/Java community.

[2021-08-02 21:07] rtimush commented on #247
The problem here was that `16` wasn't considered a valid version because it had too few components. This should be fixed in #244.
I just published `0.6.0`, please check if it works for you.

[2021-08-03 11:44] DavidGoodenough commented on #247
I can confirm that with 0.6.0 it no longer says there is an InvalidVersion (if the problem was the 16, why did the message put the InvalidVersion around the 18-ea+1?), but it also no longer thinks that I could upgrade to 18-ea+1, it says they are all up to date.

[2021-08-03 11:54] rtimush commented on #247
Good. The update is not shown because 16 is considered to be a release version and `18-ea+1` to be a pre-release one. `sbt-updates` doesn't offer such updates. I'm not sure what `ea+1` means in this particular case, but if you update to such version once, the future "ea" versions should be offered as potential updates.

[2021-08-03 14:53] DavidGoodenough commented on #247
ea in this case is Early Access, its a sort of pre-release version.

[2021-09-13 11:04] DavidGoodenough opened #257 "Compiler and tools version updates not reported"
dependencyUpdates current report library dependency updates, and with a little slight of hand plugin updates.  It would be really useful if it could also report compiler and sbt updates.

Compiler updates used to be obvious from the standard library being out of date, but with Scala-3 this is no longer true.

It would be easiest from a user point of view if dependencyUpdates reported all three gro

[2021-09-27 13:24] jtjeferreira commented on #72
@rtimush that branch is no longer available, so I am not sure if this feature was eventually merged or abandoned

[2021-12-05 16:08] #241 closed

[2021-12-05 16:18] rtimush commented on #241
Should be fixed in `0.6.1-16-3dabeef-SNAPSHOT`. It would be really nice if someone using a private GitLab package repository can try it and confirm that `sbt-updates` now correctly picks up authentication headers from the `csrConfiguration` setting.

[2021-12-07 14:17] AlixBa commented on #241
Mmm I quickly tested and I'm not sure it's working. I'll have a closer look soon.

[2021-12-07 15:53] AlixBa commented on #241
So here is my conf
[code]

And here is what sbt-updates does
[code]

the
[code]

breaks the behavior you dev-ed. So I removed it and it works. I'll have to test our CI pipelines to be sure it doesn't break anything.

[2021-12-21 14:06] rtimush commented on #241
@AlixBa Thank you for testing! So, it seems that if both `credentials` and `csrConfiguration` are defined, sbt uses the latter, while `sbt-updates` prefers the former. #279 should make this more consistent.

[2021-12-25 03:55] arvkonstantin opened #282 "dependencyUpdatesFailBuild does not work"
Hello!

[code]

I tried to try on different versions of sbt (1.5.5, 1.5.6, 1.5.8) and on different versions of the sbt-update plugin (0.5.3, 0.6.1)

I have outdated libraries, but the build does not crash, only writes "false"

[2021-12-25 09:15] arvkonstantin commented on #282
I read that this is a setup, not a task, and understood why it returns false. I think it would be great to do a similar task to run in CI, which runs on a schedule to know about updates

[2022-01-12 22:38] pronovic opened #288 "Regression in 0.6.1 when using private artifact repository"
I use a private artifact repository (Artifactory), which requires authentication.  Credentials are configured like usual  in `~/.sbt/1.0/credentials.sbt`:

[code]

Then, `~/.sbt/credentials` contains the actual credentials:

[code]

Version 0.6.0 of the plugin works with this configuration - dependency updates are found as expected.  When I upgrade to 0.6.1, it no longer works - no dependency upda

[2022-01-12 23:21] pronovic commented on #288
I should also note that I have tested this in repositories using SBT 1.4.6 and also 1.6.1.

[2022-02-03 08:29] ckipp01 commented on #288
Also noting that the same thing seems to be happening with Sonatype OSS when self hosted.

[2022-02-06 23:13] #288 closed

[2022-02-06 23:42] rtimush commented on #282
One thing you can try is to enable dependencyUpdatesFailBuild on CI:
[code]

Another option is to enable this setting in CI explicitly:
[code]

Will one of these work for you?

[2022-02-06 23:43] rtimush commented on #288
Should be fixed in 0.6.2, thank you for reporting!

[2022-02-08 15:14] pronovic commented on #288
@rtimush I can confirm that 0.6.2 fixes the regression I observed in 0.6.1.  Thanks for the help!

[2022-02-10 10:25] arvkonstantin commented on #282
Yes, its work! Thanks

[2022-05-24 17:55] satorg opened #314 "typelevel/fs2: new versions not reported"
Versions used:
  - SBT: v1.6.2
  - sbt-updates: v0.6.1

Consider this simple `build.sbt`:
[code]
then run `sbt dependencyUpdates`:
[code]
So no updates found although there's definitely a newer version: [v3.2.7](https://github.com/typelevel/fs2/releases/tag/v3.2.7)

The plugin still works for all other libraries I got a chance to try.

[2022-05-24 20:38] rtimush commented on #314
`sbt-updates` relies on the metadata files for maven repositories, and the [`maven-metadata.xml`](https://repo1.maven.org/maven2/co/fs2/fs2-core_2.13/maven-metadata.xml) for fs2-core doesn't actually contain `3.2.7`. This seem to be the same issue as in [MVNCENTRAL-6820](https://issues.sonatype.org/browse/MVNCENTRAL-6820) — the newer versions are most likely published to the "new" s01 Sonatype ser

[2022-05-24 21:07] satorg commented on #314
Actually, I did more checks on that and noticed that the last FS2 version that sbt-updates still able to find updates for is "3.0.0" – it shows that "3.0.1" is available. But seems that all other subsequent versions are not detected by sbt-update anymore.

[2022-05-30 00:35] rtimush commented on #314
Fixed in #317

[2022-05-30 00:35] #314 closed

[2022-05-30 00:41] satorg commented on #314
Cool, thanks!

[2022-07-01 23:00] rtimush commented on #241
@L7R7 If sbt-updates uses the correct credentials, then most likely it cannot extract artifact versions from the server response. You can check the files that `sbt-updates` tries to download to see if they contain the correct versions (either in `maven-metadata.xml`, or as a directory listing matching [this](https://github.com/rtimush/sbt-updates/blob/66f38dbd238de5f4dbdbee2ed3c99d73fdee42c3/src/m

[2022-07-06 07:17] L7R7 commented on #241
@rtimush thanks for the hint, I checked the files it tries to download and when I try to open them in my browser I get a 404. So it might not be a problem of sbt-updates, but with the way we're publishing the artifacts (which sounds weird to me, I thought we have everything we need to publish the package correctly)

[2022-09-07 11:06] sergiojoker11 opened #324 "feature request: dependencyUpdatesReportFile command could output a csv file"
For the sake of avoiding some scripting hackery, the report could be in CSV format that computers handle better.

[2022-10-02 19:24] sergiojoker11 commented on #324
https://github.com/rtimush/sbt-updates/pull/325

[2022-10-03 09:28] sergiojoker11 commented on #324
Contribution has already been merged.

[2022-10-03 09:28] #324 closed